.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.contact-title {
    position: relative;
}

.contact-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.contact-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.contact-section {
    display: flex;
    gap: 150px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1 {
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 50%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p {
    max-width: 550px;
    color: #D8D8D8;
    font-size: 20px;
    line-height: 35px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 22px;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-detail img {
    width: 25px;
}

/* Mobile Responsive */
@media(max-width:768px) {
    .contact {
        margin: 50px 70px;
        gap: 50px;
    }
    .contact-title h1 {
        font-size: 50px;
        padding: 0;
    }
    .contact-title img {
        width: 120px;
        margin-right: -20px;
    }
    .contact-section {
        flex-direction: column;
        gap: 50px;
    }
    .contact-left h1 {
        font-size: 54px;
    }
    .contact-left p {
        font-size: 18px;
    }
}